In [6]:
type(99.9)

float

In [7]:
type("False")

str

In [9]:
type(false)

NameError: name 'false' is not defined

In [10]:
type('0')

str

In [11]:
type(0)

int

In [12]:
type(true)

NameError: name 'true' is not defined

In [13]:
type('true')

str

In [14]:
type([{}])

list

In [15]:
type({'a': []})

dict

In [17]:
# 2. What data type would best represent the following?
# A term or phrase typed into a search box
# string
# Whether or not a user is logged in
# boolean
# A discount amount to apply to a user's shopping cart
# float
# Whether or not a coupon code is valid
# boolean
# An email address typed into a registration form
# string
# The price of a product
# float
# The email addresses collected from a registration form
# list
# Information about applicants to Codeup's data science program
# dictionary

# 3. For each of the following code blocks:
# Read the expression and predict the evaluated results
# Execute the expression in a Python REPL.
# '1' + 2 
# error
''1' + 2

SyntaxError: invalid syntax (3579454750.py, line 23)

In [18]:
# 6 % 4 
# 2
6 % 4

2

In [19]:
# type(6 % 4)
# int
type(6 % 4)

int

In [21]:
# type(type(6 % 4))
# type
type(type(6 % 4))

type

In [22]:
# '3 + 4 is ' + 3 + 4
# error
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [23]:
# 0 < 0
# false
0 < 0

False

In [24]:
# 'False' == False
# false
'False' == False

False

In [25]:
# True == 'True'
# false
True == 'True'

False

In [26]:
# 5 >= -5
# true
5 >= -5

True

In [27]:
# True or "42"
# true
True or "42"

True

In [28]:
# 6 % 5
# 1
6 % 5

1

In [30]:
# 5 < 4 and 1 == 1
# false
5 < 4 and 1 == 1

False

In [31]:
# 'codeup' == 'codeup' and 'codeup' == 'Codeup'
# false
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [33]:
# 4 >= 0 and 1 !== '1'
# error
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (2783772908.py, line 3)

In [35]:
# 6 % 3 == 0
# true
6 % 3 == 0

True

In [37]:
# 5 % 2 != 0
# true
5 % 2 != 0

True

In [38]:
# [1] + 2
# error
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [40]:
# [1] + [2]
# [1] + [2]
[1] + [2]

[1, 2]

In [42]:
# [1] * 2
# [1, 1]
[1] * 2

[1, 1]

In [43]:
# [1] * [2]
# error
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [44]:
# [] + [] == []
# true
[] + [] == []

True

In [46]:
# {} + {}
# error
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [54]:
# Describe the following scenarios. 
# You will need to create and assign variables and use operators.

# You have rented some movies for your kids:

# The Little Mermaid for 3 days
# Brother Bear for 5 days
# Hercules for 1 day

# If the daily fee to rent a movie is 3 dollars, how much will you have to pay?
the_little_mermaid = 3
brother_bear = 5
hercules = 1
(the_little_mermaid + brother_bear + hercules) * 3

27

In [55]:
# Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

# They pay you the following hourly rates:

# Google: 400 dollars
# Amazon: 380 dollars
# Facebook: 350 dollars
# This week you worked: 10 hours for Facebook, 6 hours for Google 
# and 4 hours for Amazon.

# How much will you receive in payment for this week?
google = 400
amazon = 380
facebook = 350
(google * 6) + (amazon * 4) + (facebook * 10)

7420

In [63]:
# A student can be enrolled to a class only if the class is not full and 
# the class schedule does not conflict with her current schedule.
class_status = 'not_full'
class_schedule = 'no_conflict'

if class_status == 'not_full' and class_schedule == 'no_conflict':
    print('enrolled')

enrolled

In [64]:
# A product offer can be applied only if people buys more than 2 items, 
# and the offer has not expired. 
# Premium members do not need to buy a specific amount of products.
bought = 3
offer = 'not_expired'

if bought > 2 and offer == 'not_expired':
    print('offer applied')

if bought >= 0 and offer == 'not_expired':
    print('premium member, offer applied')

offer applied
premium member, offer applied

In [70]:
username = 'codeup'
password = 'notastrongpassword'

#Create a variable that holds a boolean value for each of the following conditions:

# The password must be at least 5 characters
# The username must be no more than 20 characters
# The password must not be the same as the username
# Bonus Neither the username or password can start or end with whitespace
pw_length = len('codeup')
u_length = len('notastrongpassword')

if pw_length >= 4 and u_length <= 20 and password != username:
    print('true')
if pw_length < 4 and u_length > 20 and password == username:
    print('false')

true